<div class="blog-post">
  <h2 class="blog-post-title">Now What?</h2>
  <!-- <p class="blog-post-meta">October 2014 by <a href="#">Joel<strong>Cox</strong></a></p> -->
  <hr>

  <blockquote>
    <p><strong>So we have this Folder structure and a few ideas on Angular architecture... So where do we get started</strong></p>
  </blockquote>
  <p>Luckily the ng-guide generator has some more stuff waiting for you!</p>
  <ul>
    <li><strong>The next step is to set up your dev environment.</strong>
    </li>
    <li>
      Once you run the command this entire app will be placed in another directory call <strong>client</strong>
    </li>
    <li>
    <strong>Why?</strong>
      Well there are more instructions waiting one the other side.
    </li>
  </ul>
</div>

<ul class="pager">
  <li><a href="#/steps/three">Previouse</a></li>
  <li><a ui-sref="setup.six">Next</a></li>
</ul>

