<div class="blog-post">
  <h2 class="blog-post-title">{{content.intro}}</h2>
  <!-- <p class="blog-post-meta">October 2014 by <a href="#">Joel<strong>Cox</strong></a></p> -->
  <hr>

  <blockquote>
    <p><strong>{{content.blocks[0]}}</strong></p>
  </blockquote>
  <p ng-repeat="head in content.headers">{{head}}</p>
  <ul>
    <li ng-repeat="thing in content.content"><strong>{{thing.title}}</strong>
      <ul>
        <li ng-repeat="child in thing.children">{{child}}</li>
      </ul>
    </li>
  </ul>
</div>

<ul class="pager">
  <li><a ng-if="content.back" ui-sref="{{content.back}}">Back</a></li>
  <li><a ng-if="content.next" ui-sref="{{content.next}}">Next</a></li>
</ul>