<div class="blog-post">
  <h2 class="blog-post-title">Angularjs Style Guide</h2>
  <!-- <p class="blog-post-meta">October 2014 by <a href="#">Joel<strong>Cox</strong></a></p> -->

  <p></p>
  <hr>

  <blockquote>
    <p><strong>Checkout <i>John Papa's</i><a href="https://github.com/johnpapa/angularjs-styleguide"> Angularjs-Style-Guide</a></strong></p>
  </blockquote>
  <p>You probably don't need to read the whole thing just yet, however, please use it as a guide and reference for when you begin to build</p>
  <ul>
    <li><strong>IIFE</strong>
      <ul>
        <li>Always wrap each file in an IIFE (immediately invoked function expression)</li>
      </ul>
    </li>
    <li>Only one module per file</li>
  </ul>
</div>

<ul class="pager">
  <li><a href="#/steps/two">Previouse</a></li>
  <li><a href="#/steps/four">Next</a></li>
</ul>

